  <!--MENU-->
  <nav class="vertical_nav">
    <a class="nav_title" href="#"></a>
    <p class="nav_title_black">Call Center 值機系統</p>
    <!--收合-->
    <button type="button" id="collapse_menu" class="collapse_menu">
      <i class="collapse_menu--icon"></i>
      <span class="collapse_menu--label">收合選單</span>
    </button>
    <!--選單列-->
    <ul id="js-menu" class="menu">
      <li class="menu--item">
        <label class="menu--link">
          <span class="menu--label" routerLink="/Customer">客戶基本資料</span>
        </label>
      </li>
      <li class="menu--item menu--item__has_sub_menu">
        <label class="menu--link">
          <span class="menu--label">客服紀錄</span>
        </label>
        <ul class="sub_menu">
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">客服紀錄</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">待辦事項(客服指派)</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">Log歷程</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">客服紀錄統計報表</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">KPI設定</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">績效報表</a>
          </li>
        </ul>
      </li>
      <li class="menu--item menu--item__has_sub_menu">
        <label class="menu--link">
          <span class="menu--label">密碼解鎖/查詢</span>
        </label>
        <ul class="sub_menu">
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">密碼解鎖查詢</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">補發密碼解鎖查詢</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">補發密碼歷程查詢</a>
          </li>
        </ul>
      </li>
      <li class="menu--item menu--item__has_sub_menu">
        <label class="menu--link">
          <span class="menu--label">預約/線上開戶</span>
        </label>
        <ul class="sub_menu">
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">線上開會客戶進件</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">開戶進度查詢</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">預約開戶查詢</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">開戶重複電話號碼</a>
          </li>
        </ul>
      </li>
      <li class="menu--item menu--item__has_sub_menu">
        <label class="menu--link">
          <span class="menu--label">憑證相關作業</span>
        </label>
        <ul class="sub_menu">
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">憑證查詢</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">憑證驗章紀錄</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">憑證作業紀錄</a>
          </li>
        </ul>
      </li>
      <li class="menu--item menu--item__has_sub_menu">
        <label class="menu--link">
          <span class="menu--label">電子對帳單/簡訊</span>
        </label>
        <ul class="sub_menu">
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">電子對帳單申請紀錄</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">電子對帳單寄送狀況</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">聯絡人簡訊紀錄</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">OTP簡訊發送</a>
          </li>
        </ul>
      </li>
      <li class="menu--item menu--item__has_sub_menu">
        <label class="menu--link">
          <span class="menu--label">客服紀錄維護</span>
        </label>
        <ul class="sub_menu">
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">群組名稱設定</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">群組人員設定</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">問題類別設定</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">問題細項設定</a>
          </li>
        </ul>
      </li>
      <li class="menu--item menu--item__has_sub_menu">
        <label class="menu--link">
          <span class="menu--label">系統管理</span>
        </label>
        <ul class="sub_menu">
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">角色群組設定</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">使用者設定</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">公佈欄管理</a>
          </li>
          <li class="sub_menu--item">
            <a href="#" class="sub_menu--link">訊息傳遞管理</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
