<div class="mes_color">
  <div class="mes_in">
    <a href="#"></a>
    <div class="tit">未結案</div>
    <div class="num">32</div>
  </div>
  <div class="mes_in">
    <a href="#"></a>
    <div class="tit">指派<br />分公司</div>
    <div class="num">99</div>
  </div>
  <div class="mes_in">
    <a href="#"></a>
    <div class="tit">指派協助<br />人員</div>
    <div class="num">8</div>
  </div>
  <div class="mes_in">
    <a href="#"></a>
    <div class="tit">交接待辦</div>
    <div class="num">20</div>
  </div>
  <div class="mes_in">
    <a href="#"></a>
    <div class="tit">已交接</div>
    <div class="num">20</div>
  </div>
</div>
<div class="array_2">
  <div class="record_box">
    <div class="title_box">
      <div>
        <h2 class="title">客服紀錄</h2>
        <div>
          <ul class="select">
            <li class="on"><a href="#"></a>本日</li>
            <li><a href="#"></a>本週</li>
          </ul>
        </div>
      </div>
      <div>
        <ul class="more">
          <li><a href="#"></a>看所有紀錄</li>
          <li><a href="#"></a>本日更多</li>
        </ul>
      </div>
    </div>
    <ul class="record_list">
      <li>
        <div class="upper">
          <div>
            <div class="time">2022/02/25 12:00</div>
            <div class="state">已轉派其他客服</div>
          </div>
          <div>江曉琪</div>
        </div>
        <div class="ground">
          <p class="info">
            <span class="key">江小美</span>
            <span>線上開戶-</span>
            <span class="gray"
              >網路密碼進度查詢線上開戶線上開戶-網路密碼進度查詢線上開戶線上開戶-網路密碼進度查詢線上開戶</span
            >
          </p>
        </div>
        <a href="#"></a>
      </li>
      <li>
        <div class="upper">
          <div>
            <div class="time">2022/02/25 12:00</div>
            <div class="state done">完成結案</div>
          </div>
          <div>江曉琪</div>
        </div>
        <div class="ground">
          <p class="info">
            <span class="key">江小美</span>
            <span>線上開戶-</span>
            <span class="gray"
              >網路密碼進度查詢線上開戶線上開戶-網路密碼進度查詢線上開戶線上開戶-網路密碼進度查詢線上開戶</span
            >
          </p>
        </div>
        <a href="#"></a>
      </li>
      <li>
        <div class="upper">
          <div>
            <div class="time">2022/02/25 12:00</div>
            <div class="state">處理中</div>
          </div>
          <div>江曉琪</div>
        </div>
        <div class="ground">
          <p class="info">
            <span class="key">江小美</span>
            <span>線上開戶-</span>
            <span class="gray"
              >網路密碼進度查詢線上開戶線上開戶-網路密碼進度查詢線上開戶線上開戶-網路密碼進度查詢線上開戶</span
            >
          </p>
        </div>
        <a href="#"></a>
      </li>
      <li>
        <div class="upper">
          <div>
            <div class="time">2022/02/25 12:00</div>
            <div class="state">處理中</div>
          </div>
          <div>江曉琪</div>
        </div>
        <div class="ground">
          <p class="info">
            <span class="key">江小美</span>
            <span>線上開戶-</span>
            <span class="gray"
              >網路密碼進度查詢線上開戶線上開戶-網路密碼進度查詢線上開戶線上開戶-網路密碼進度查詢線上開戶</span
            >
          </p>
        </div>
        <a href="#"></a>
      </li>
      <li>
        <div class="upper">
          <div>
            <div class="time">2022/02/25 12:00</div>
            <div class="state">處理中</div>
          </div>
          <div>江曉琪</div>
        </div>
        <div class="ground">
          <p class="info">
            <span class="key">江小美</span>
            <span>線上開戶-</span>
            <span class="gray"
              >網路密碼進度查詢線上開戶線上開戶-網路密碼進度查詢線上開戶線上開戶-網路密碼進度查詢線上開戶</span
            >
          </p>
        </div>
        <a href="#"></a>
      </li>
    </ul>
  </div>
  <div class="record_box">
    <div class="title_box">
      <div>
        <h2 class="title">系統狀況</h2>
        <div>
          <ul class="select">
            <li class="on"><a href="#"></a>本日</li>
            <li><a href="#"></a>尚未修復</li>
          </ul>
        </div>
      </div>
      <div>
        <ul class="more">
          <li><a href="#"></a>看所有紀錄</li>
          <li><a href="#"></a>本日更多</li>
        </ul>
      </div>
    </div>
    <ul class="record_list">
      <li>
        <div class="upper">
          <div>
            <div class="time">2022/02/25 12:00</div>
            <div class="state">處理中</div>
          </div>
          <div>蔡一如</div>
        </div>
        <div class="ground">
          <p class="info">
            <span class="purple">系統平台</span>
            <span class="gray"
              >問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明</span
            >
          </p>
        </div>
        <a href="#"></a>
      </li>
      <li>
        <div class="upper">
          <div>
            <div class="time">2022/02/25 12:00</div>
            <div class="state done">完成結案</div>
          </div>
          <div>蔡一如</div>
        </div>
        <div class="ground">
          <p class="info">
            <span class="purple">系統平台</span>
            <span class="gray"
              >問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明</span
            >
          </p>
        </div>
        <a href="#"></a>
      </li>
      <li>
        <div class="upper">
          <div>
            <div class="time">2022/02/25 12:00</div>
          </div>
          <div>蔡一如</div>
        </div>
        <div class="ground">
          <p class="info">
            <span class="purple">系統平台</span>
            <span class="gray"
              >問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明</span
            >
          </p>
        </div>
        <a href="#"></a>
      </li>
      <li>
        <div class="upper">
          <div>
            <div class="time">2022/02/25 12:00</div>
          </div>
          <div>蔡一如</div>
        </div>
        <div class="ground">
          <p class="info">
            <span class="purple">系統平台</span>
            <span class="gray"
              >問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明</span
            >
          </p>
        </div>
        <a href="#"></a>
      </li>
      <li>
        <div class="upper">
          <div>
            <div class="time">2022/02/25 12:00</div>
          </div>
          <div>蔡一如</div>
        </div>
        <div class="ground">
          <p class="info">
            <span class="purple">系統平台</span>
            <span class="gray"
              >問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明問題說明</span
            >
          </p>
        </div>
        <a href="#"></a>
      </li>
    </ul>
  </div>
</div>
<div class="board">
  <div class="title_box flex">
    <h2 class="title">公佈欄</h2>
    <a href="#" class="link_more">看所有紀錄</a>
  </div>
  <ul class="news_list">
    <li>
      <a href="#"></a
      ><span class="date">2021/11/12</span
      >系統改版：客戶紀錄將於11/24改版上線，將以全新面貌迎接使用者，希望同仁多加利用。
    </li>
    <li>
      <a href="#"></a
      ><span class="date">2021/11/12</span
      >因應線上開戶人員變多，請各位客服人員於上班時記得查看待辦事項處理相關案件。
    </li>
    <li>
      <a href="#"></a
      ><span class="date">2021/11/12</span
      >系統改版：客戶紀錄將於11/24改版上線，將以全新面貌迎接使用者，希望同仁多加利用。
    </li>
    <li>
      <a href="#"></a
      ><span class="date">2021/11/12</span
      >系統改版：客戶紀錄將於11/24改版上線，將以全新面貌迎接使用者，希望同仁多加利用。，希望同仁多加利用。，希望同仁多加利用。
    </li>
    <li>
      <a href="#"></a
      ><span class="date">2021/11/12</span
      >因應線上開戶人員變多，請各位客服人員於上班時記得查看待辦事項處理相關案件。
    </li>
  </ul>
</div>
