<div class="pagesize">
  <div class="header">
    <div class="logo"></div>
  </div>
  <div id="loginForm" class="board_in">
    <div class="center">帳號</div>
    <div class="center">
      <input
        type="text"
        name="aid"
        [(ngModel)]="aid"
        placeholder="請輸入帳號"
      />
      <input
        type="text"
        name="pid"
        [(ngModel)]="pid"
        (keyup.enter)="login()"
        placeholder="請輸入密碼"
      />
    </div>
    <div class="btn_set_in">
      <div class="btn_red on"><a (click)="login()"></a>登入</div>
    </div>
  </div>
</div>
